<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Resume Maker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../static/css/bootstrap.min.css">
        <link href="../static/css/style.css" rel="stylesheet">
       
    </head>
    <body class="homepage" id="homepage_se">
        <header class="bg_image">
            <div class="text-left">
                <div class="container">
                    <div class="logo">
                        <h2>RESUME MAKER</h2>
                        <p>Attractive resumes Download and Use Now!</p> 
                    </div>
                    <div class="nav_button_right">
                        <a href="/resume_template" class="btn btn-info" >Create Awesome Resumes Now..!</a>
                    </div>
                </div>
            </div>
        </header>


        <section id="banner">
            <div class="container">
                <div class="row container">
                    <div class="col-md-12">
                        <h1> IMPRESSIVE RESUMES  </h1>
                        <h4>EASY ONLINE BUILDER</h4>
                        <a href="/resume_template" class="btn btn-danger bn" >View All Templates</a>
                    </div>
                </div>
            </div>
        </section>
        <script src="../static/js/jquery-2.1.3.js"></script>
    </body>
</html>