<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Resume Maker</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <header class="h_color" id="head">
            <div class="text-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo">
                                <h2>RESUME MAKER</h2>
                                  <p>Attractive resumes Download and Use Now!</p> 
                                </div>
                                <div class="nav_button_right">
                                <a  class="btn btn-primary" href="#popup1">Add your Data</a>
                                <input type="button" onclick="printDiv()" class="btn btn-warning" value="Print Resume">
                                <a class="btn btn-info" href="resume_template">More Resume Templates</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </header>

       <section id="resume_2">
           <div class="container">
                <div class="resume_1">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h1 id="uname">Yash Bajaj</h1>
                               <!-- <p>It Project Manager</p>-->
                                <p style="text-align: justify" id="uabout">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                        </div>

                        <div class="col-md-4" style="float: left;">
                            <img src="../static/img/resume_1/about_us_icon.png" width="40px"><span style="padding: 12px;font-weight: 600">ABOUT ME</span>
                            <div class="" style="border-top: rgb(130, 146, 238) solid 1px;margin-top: 20px;"></div>                        
                            <div style="margin-top: 20px">
                                <div style="margin-bottom: 15px;"><img src="../static/img/resume_1/birthday.png" width="30px"><span style="padding: 12px;font-weight: 600;" id="udob">May 07, 1998</span></div>
                                <div style="margin-bottom: 15px;"><img src="../static/img/resume_1/phone.png" width="30px"><span style="padding: 12px;font-weight: 600" id="uphnum">+91 9726 576 370</span></div>
                                <div style="margin-bottom: 15px;"><img src="../static/img/resume_1/location.png" width="30px"><span style="padding: 12px;font-weight: 600" id="ulocation">Surat, Gujarat</span></div>
                                <div style="margin-bottom: 15px;"><img src="../static/img/resume_1/email.png" width="30px"><span style="padding: 12px;font-weight: 600" id="uemail">bajajyash428@gmail.com</span></div>
                            </div>

                            <div style="margin-top: 25px" >
                                    <img src="../static/img/resume_1/computer.png" width="40px"><span style="padding: 12px;font-weight: 600">PERSONAL SKILLS</span>
                                </div>
                                <div style= " border-top: rgb(130, 146, 238) solid 1px;margin-top: 20px;"></div>
                                <div class="col-md-12" style="width: 100%;margin-top: 12px">
                                    <ul id="skills_data_li">
                                        <li style="font-size:18px;margin-bottom: 5px">Developed or implemented new procedures or systems</li>
                                        <li style="font-size:18px;margin-bottom: 5px">Saved money for the company</li>
                                    </ul>
                            </div>

                            <div style="margin-top: 20px" >
                                    <img src="../static/img/resume_1/personal_info.png" width="40px"><span style="padding: 12px;font-weight: 600">PERSONAL DETAILS</span>
                            </div>
                            <div style= "border-top: rgb(130, 146, 238) solid 1px;margin-top: 12px;"></div>
                            <div style="margin-top: 12px">
                                <p id="fathername">Father's Name   :</p>
                                <p id="mothername">Mother's Name</p>
                                <p id="permanentaddress">Permanent Address    :    </p>
                            </div>
                        </div>

                        <div class="col-md-8" style="padding: 10px">
                            <h5>Career Objectives</h5>
                            <p style="text-align: justify" id="ucareerobject">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, </p>
                            <div style="margin-top: 15px" >
                                    <img src="../static/img/resume_1/education.png" width="40px"><span style="padding: 12px;font-weight: 600">EDUCATION</span>
                            </div>


                            <div class="" style= " border-top: rgb(130, 146, 238) solid 1px;margin-top: 12px;"></div>
                            <div class="">
                                <table id="education_data_table" style="width: 100%;margin-top: 12px">
                                        <tr>
                                            <td>
                                                <span style='font-weight: 600;font-size: 20px'>B.Tech Computer Science
                                                 </span> <br>Uka Tarsadia University</td>
                                            <td>Graduate, May 2020</td>
                                        </tr>
                                </table>
                            </div> 

                            <div style="margin-top: 15px" >
                                    <img src="../static/img/resume_1/achiements.png" width="40px"><span style="padding: 12px;font-weight: 600">ACHIEVEMENTS</span>
                                </div>
                                <div class="" style= " border-top: rgb(130, 146, 238) solid 1px;margin-top: 12px;"></div>    
                                <div style="width: 100%;margin-top: 12px">
                                    <ul id="achivements_data_li">
                                        <li style="font-size:18px;margin-bottom: 5px">Developed or implemented new procedures or systems</li>
                                        <li style="font-size:18px;margin-bottom: 5px">Saved money for the company</li>
                                    </ul>
                                </div>
                        </div>

                            <div class="col-md-12" style="margin-top: 50px">
                                <h4>Declaration</h4>
                                <p>I, <span id="name_declaration"></span>, hereby declare that all the information provided above are correct and complete to the best of my knowledge and belief. I understand that if any time it is found that any information given is false, my appointment is liable to be cancelled.</p>
                            </div>
                            <div class="col-md-6" style="margin-top: 20px">
                                    ____________________________<br>
                                    <span id="n_declaration"></span>
                                    
                            </div>
                            <div class="col-md-6" style="margin-top: 20px">
                                 <p id="dec_place" style="float: right">place</p>
                            </div>
                    </div>
                </div>
            </div>
       </section>


       <div id="popup1" class="overlay">
            <div class="popup">
                <div class="container">
                    <h4>RESUME TEMPLATES</h4>   
                    <a class="close" href="#">&times;</a>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Choose your own style to make resume</p>
                        </div>
                        <div class="col-md-12">
                            <h5>PERSONAL INFORMATION</h5>
                        </div>
                    </div>


                    <form class="needs-validation" novalidate>
                        <div class="form-row form-group">
                            <div class="col-md-4">
                                <label for="name">Full name</label>
                                <input type="text" class="form-control" id="name" placeholder="Full name" required>
                                <div class="invalid-feedback"> Enter your Full name.</div>
                            </div>   
                            <div class="col-md-4">
                                <label for="dob">Date Of Birth</label>
                                <input type="date" class="form-control" id="dob" placeholder="enter your dob" required>
                                <div class="invalid-feedback"> Enter your date of birth.</div>
                            </div> 
                            <div class="col-md-4">
                                <label for="email">Email Address</label>
                                <input type="text" class="form-control" id="email" placeholder="enter your email"  required>
                                <div class="invalid-feedback"> Enter your email address.</div>
                            </div> 
                            <div class="col-md-4">
                                <label for="phnum">Phone number</label>
                                <input type="text" class="form-control" id="phnum" placeholder="enter your phone number"  required>
                                <div class="invalid-feedback"> Enter your phone number.</div>
                            </div> 
                            <div class="col-md-4">
                                <label for="city">City</label>
                                <input type="text" class="form-control" id="city" placeholder="enter your city."  required>
                                <div class="invalid-feedback"> Enter your city.</div>
                            </div>  
                            <div class="col-md-4">
                                <label for="city">State</label>
                                <input type="text" class="form-control" id="state" placeholder="enter your state."  required>
                                <div class="invalid-feedback"> Enter your state.</div>
                            </div> 
                            <div class="col-md-12">
                                <label for="ucareerob">Career Objective</label>
                                <textarea rows="5"  class="form-control" id="ucareerob" placeholder="enter your Career Objectives."  required></textarea>
                                <div class="invalid-feedback"> Enter your career Objective.</div>
                            </div>
                            <div class="col-md-12">
                                    <label for="uaboutself">About your Self</label>
                                    <textarea rows="5"  class="form-control" id="uaboutself" placeholder="enter about your self"  ></textarea>
                                    <div class="invalid-feedback"> Enter about you.</div>
                                </div> 
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5>EDUCATION DETAILS</h5>
                            </div>
                            <div class="col-md-6">
                                <label for="city">Course / Graduation</label>
                                <input type="text" class="form-control" id="course" placeholder="enter your course name."  >
                                <div style="color: red;display: none" id="co_err">**enter Course.</div>
                            </div>  
                            <div class="col-md-6">
                                <label for="city">College / Institute</label>
                                <input type="text" class="form-control" id="college" placeholder="enter your state."  >
                                <div style="color: red;display: none" id="col_err"> **enter College.</div>
                            </div> 
                            <div class="col-md-4">
                                <label for="city">Graduated Month</label>
                                <select class="form-control" id="month"> 
                                        <option>Please select One..</option>
                                        <option>January</option>
                                        <option>February</option>
                                        <option>March</option>
                                        <option>April</option>
                                        <option>May</option>
                                        <option>June</option>
                                        <option>July</option>
                                        <option>August</option>
                                        <option>September</option>
                                        <option>October</option>
                                        <option>November</option>
                                        <option>December</option>
                                </select>
                                <div style="color: red;display: none" id="select_month_err"> **select the month.</div>
                            </div> 
                            <div class="col-md-4">
                                <label for="city">Graduated Year</label>
                                <input type="number" min="1900" max="2019" class="form-control" id="year" placeholder="enter your state."  >
                                <div style="color: red;display: none" id="year_err"> **enter valid year.</div>
                            </div> 
                            <div class="col-md-2">
                                <label></label>
                                <input type="button" value="Add data" style="width: 100%;margin-top: 8px"  class="btn" onclick="addcourse()">
                            </div> 
                            <div class="col-md-2">
                                <label></label>
                                <input type="button" value="Delete data" style="width: 100%;margin-top: 8px"  class="btn" onclick="myDeleteFunction()">
                            </div> 
                            <div class="col-md-12" style="padding: 20px;">
                                <table id="education_data" style="width: 100%;margin-top: 12px">
                                   
                                </table>
                            </div>  
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                    <h5>ACHIEVEMENTS</h5>
                            </div>
                            <div class="col-md-6">
                                <label for="achivement">Achievements</label>
                                <textarea rows="4"  class="form-control" id="achivement" placeholder="enter your achievement.."  ></textarea>
                                <div style="color: red;display: none" id="achivement_err">**enter achievement.</div>
                            </div>  
                            <div class="col-md-3">
                                <label></label>
                                <input type="button" value="Add achievement" style="width: 100%;margin-top: 8px"  class="btn" onclick="addache()">
                            </div>
                            <div class="col-md-3">
                                <label></label>
                                <input type="button" value="Delete achievement" style="width: 100%;margin-top: 8px"  class="btn" onclick="achivementDeleteFunction()">
                            </div>  
                            <div class="col-md-12" style="padding: 20px;">
                                <table id="acheivement_data" style="width: 100%;margin-top: 12px">
                                </table>
                            </div>  
                        </div>
                        <div class="row">
                                <div class="col-md-12">
                                        <h5>PERSONAL SKILLS</h5>
                                </div>
                                <div class="col-md-6">
                                     <label for="skills">Personal Skills </label>
                                    <textarea rows="4"  class="form-control" id="skills" placeholder="enter your achievement.." ></textarea>
                                    <div style="color: red;display: none" id="skills_err">**enter your skills.</div>
                                </div>  
                                <div class="col-md-3">
                                    <label></label>
                                     <input type="button" value="Add skills" style="width: 100%;margin-top: 8px"  class="btn" onclick="addskills()">
                                </div>
                                <div class="col-md-3">
                                    <label></label>
                                    <input type="button" value="Delete skills" style="width: 100%;margin-top: 8px"  class="btn" onclick="skillsDeleteFunction()">
                                </div>  
                                <div class="col-md-12" style="padding: 20px;">
                                    <table id="skill_data" style="width: 100%;margin-top: 12px">
                                    </table>
                                </div>  
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <h5>PERSONAL DETAILS</h5>
                                </div>
                                    
                            </div>
                            <div class="form-row form-group">
                                <div class="col-md-4">
                                    <label for="fname">Father's Name</label>
                                    <input type="text" class="form-control" id="fname" placeholder="enter your father's name" required>
                                    <div class="invalid-feedback"> Enter your Full name.</div>
                                </div>   
                                <div class="col-md-4">
                                    <label for="mname">Mother's Name</label>
                                    <input type="text" class="form-control" id="mname" placeholder="enter your Mother's name" required>
                                    <div class="invalid-feedback"> Enter your date of birth.</div>
                                </div> 
                                <div class="col-md-12">
                                    <label for="paddress">Permanent Address</label>
                                    <textarea rows="4"  class="form-control" id="paddress" placeholder="enter your address.."  required></textarea>
                                    <div class="invalid-feedback">**enter address.</div>
                                 </div>
                            </div>

                            <div style="margin-bottom: 20px;">
                                <button class="btn btn-primary" type="submit" >Submit form</button>
                                <a href="#" class="btn btn-danger">Close</a>
                            </div>

                    </form>
                </div>
            </div>
        </div>



    <script src="../static/js/jquery-2.1.3.js"></script>
    <script src="../static/js/my.js"></script>
    </body>
</html>